[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow-providers-trino = "==5.4.1"
trino = "==0.328.0"
pandas = "==2.1.4"
sqlalchemy = "==1.4.53"
psycopg2-binary = "==2.9.9"
apache-airflow = "==2.8.1"

[dev-packages]

[requires]
python_version = "3.11"
